.para1{
    display: flex;
    background-color: black ;
    flex-direction: column;
    flex-wrap: wrap ;
    justify-content: center;
    height: 460px;
    width: 400px;
    align-items: center ;
    margin-top: 150px;
    margin-left: 550px;
}

.para1 > button{
    margin: 20px;
    color: cornsilk;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    
}

p{
    border: cornsilk solid;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-image:url("Images/Default-removebg-preview.png") ;
    background-size: 100px;

}

.para1 > h1{
    margin: 20px;
    color: cornsilk;
    
}

body{
    background-image: url("Images/pexels-cottonbro-4646214.jpg");
}